/* Filename: style1.css */
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-image: url('https://www.xmple.com/wallpaper/green-white-highlight-gradient-linear-5120x2880-c2-adff2f-ffffff-l-67-a-45-f-21.svg');
    background-size: cover;
    background-repeat: no-repeat;
    /* background-color: rgb(200, 255, 200); */
    /* background-image: url('https://cutewallpaper.org/21/green-backgrounds-designs/Green-And-White-Background-Design-Png-Free-Download-.png'); */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow-x: hidden;
}
.skill_per {
    background: transparent;
    color: green;
    transform: translateX(101%);
}


.skills .box {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 150px 1fr;
    justify-content: center;
    align-items: center;
}

.skills .box h4 {
    text-transform: uppercase;
    color: rgb(39, 39, 39);
    font-weight: 500;
}

.skills .box .percent {
    position: relative;
    width: 100%;
    height: 15px;
    background: grey;
}

.skills .box .percent div {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: lightgreen;
}

