/* Filename: style1.css */
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-image: url('https://www.xmple.com/wallpaper/green-white-highlight-gradient-linear-5120x2880-c2-adff2f-ffffff-l-67-a-45-f-21.svg');
    background-size: cover;
    background-repeat: no-repeat;
    /* background-color: rgb(200, 255, 200); */
    /* background-image: url('https://cutewallpaper.org/21/green-backgrounds-designs/Green-And-White-Background-Design-Png-Free-Download-.png'); */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow-x: hidden;
}



/* .modal_bg {
    opacity: 0.7;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
} */
.skill_per {
    background: transparent;
    color: green;
    transform: translateX(101%);
}

/* .close {
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 40px;
    transform: rotate(45deg);
    cursor: pointer;
} */

/* .pop-up {
    display: none;
    position: absolute;
    top: 250;
    margin-left: -80px;
    margin-top: 50px;
    /* transform: translate(-50%, -50%);
    width: 600px;
    height: 400px;
    background-color: white;
    border-radius: 4px;
    overflow: inherit;
    box-shadow: 0 0 12px 4px;
    border: 2px solid rgb(73, 73, 73);
    transition: 1s;
} */

/* body #modal_bg {
    /* opacity: 0.7;
    top: 0;
    justify-content: center;
    align-items: center;
} */

.container {
    position: relative;
    width: 100%;
    max-width: 1000px; /* 1200 */
    min-height: 1000px;
    background-color: teal; /* white - #fff */
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    /* box-shadow: 0 50px 90px rgba(0,0,0,0.1); */
    box-shadow: 0 0 12px 4px;
    border-radius: 5px;
    border: 2px solid rgb(73, 73, 73);
}

.left_side {
    position: relative;
    background-color: rgb(2, 145, 2); /* or TEAL OR #003147*/
    padding: 40px;
}

.right_side {
    position: relative;
    background-color: #66d9ff;
    padding: 40px;
}


.container .right_side {
    position: relative;
    background: #fff;
    padding: 40px;
}


.skills .box {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 150px 1fr;
    justify-content: center;
    align-items: center;
}

.skills .box h4 {
    text-transform: uppercase;
    color: rgb(39, 39, 39);
    font-weight: 500;
}

.skills .box .percent {
    position: relative;
    width: 100%;
    height: 15px;
    background: grey;
}

.skills .box .percent div {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: lightgreen;
}

